
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
     height: 100vh;
    width: 100vw;
    overflow-x: none;
   background-color: bisque;
     
}
.navcontainer{
width:100vw;
background: #12acdb;
background: linear-gradient(90deg, rgba(18, 172, 219, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
height: 100px;
padding-right: 2rem ;
    
}
#navlist{
    list-style: none;
    font-size: 40px;
    font-weight: 200;
    display: flex;
    justify-content: space-between;
    margin-left: 15px;
    margin-right: 15px;
   
}
.logo{
    font-size: 90px;
    font-weight: 200;
    color: black
}
a{
    text-decoration: none;
}
.links{
    display: flex;
    gap: 20px;
   margin-top: 50px;
}
.footerbox{
   background-color: #12acdb;
   text-align: center;
}
.footerbox p{
    color: azure;
    font-size: 2rem;
    justify-content: space-between;

}
.contentbox{
    width: 60%;
    margin: auto;
    /* border: 1px solid black; */
    background-color: beige;
    display: flex;
    flex-direction: column;
    height:770px;
    justify-content: space-between;
    box-shadow: 1px 1px 30px black;
}
 
.item{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    gap: 10px;
   
}
.rightbox{
    img{
    border-radius: 30px;
    gap: 20px;
    position: relative;
    transition: all 1s  linear 0s;

}
.rightbox img:hover{
    transform: scale(2);
    transform: rotate(45deg);
}

}
.leftbox{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.leftbox h1{
    font-size: 2rem;
}
.ingbox{
    font-size: 1.1rem;
}
.recipebox{
    font-size: 1.1rem;
}